@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

/*font-family: 'Open Sans', sans-serif;
grubości:
light 300
regular 400
bold 700*/
/*font-family: 'Raleway', sans-serif;
grubości:
light 300
regular 400
bold 700
extrabold 800*/

:root {
    --main-color: #08A6E4;
    --main-shadow-color: rgba(7, 172, 230, .16);
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --black-color: #000000;
    --grey-color: #A5A5A5;
    --light-grey-color: #F7F7F7;
    --white-color: #FFFFFF;
    --font-open-light: 300;
    --font-open-regular: 300;
    --font-open-bold: 400;
    --font-raleway-light: 300;
    --font-raleway-regular: 400;
    --font-raleway-bold: 700;
    --font-raleway-extrabold: 800;
    --font-family-raleway: 'Raleway', sans-serif;
    --font-family-open: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* wspólne dla wszystkich sekcji */

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    width: 1352px;
}

/* ------------------------------ */
/* Sekcja nawigacji */

.section1 {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 3px 6px var(--main-shadow-color);
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: var(--font-raleway-light);
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 17px;
    color: var(--main-color);
}

.navigation {
    display: flex;
    align-items: center;
}

.navbtn {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--font-open-bold);
    font-size: 11px;
    padding: 0 15px;
    padding-top: 28px;
    padding-bottom: 27px;
    margin: 0 32.5px;
    color: var(--grey-color);

}

.navbtn:nth-child(1) {
    margin-left: 0;
}

.navbtn:nth-child(4) {
    margin-right: 0;
}

/* ------------------------------ */
/* Sekcja otwierająca */

.opensection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 130px;
    font-family: var(--font-family-raleway);
    font-weight: var(--font-raleway-regular);
    font-size: 49px;
    margin-bottom: 20px;
    color: var(--black-color);
}

.description {
    font-family: var(--font-family-open);
    font-weight: var(--font-open-regular);
    font-size: 16px;
    color: var(--black-color);
    margin-bottom: 38px;
}

.btnlink {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--main-color);
    font-family: var(--font-family-open);
    font-weight: var(--font-open-bold);
    font-size: 16px;
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--main-shadow-color);
}

.image {
    height: 594px;
}

/* ------------------------------ */
/* Sekcja statystyki */

.statistics .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statTitle {
    font-family: var(--font-family-raleway);
    font-weight: var(--font-raleway-regular);
    font-size: 36px;
    color: var(--black-color);
    margin-top: 100px;
}

.boxContainer {
    margin-top: 103px;
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 121px;
}

.box:before {
    content: "";
    height: 63px;
    width: 63px;
    background-color: var(--red-color);
    display: block;
    position: absolute;
    border-radius: 50%;
}

.box:nth-child(2):before {
    content: "";
    height: 63px;
    width: 63px;
    background-color: var(--main-color);
    display: block;
    position: absolute;
    border-radius: 50%;
}

.box:nth-child(3):before {
    content: "";
    height: 63px;
    width: 63px;
    background-color: var(--green-color);
    display: block;
    position: absolute;
    border-radius: 50%;
}

.icons {
    height: 54px;
    width: 54px;
    z-index: 1;
    align-self: flex-end;
    margin-right: 12px;
    margin-top: 3px;
}

.boxContainer .box:nth-child(2) .icons {
    height: 58px;
    width: 58px;
    z-index: 1;
    align-self: flex-end;
    margin-right: 18px;
}

.boxContainer .box:nth-child(3) .icons {
    margin-top: 6px;
}

.boxTitle {
    margin-top: 15px;
    font-family: var(--font-family-raleway);
    font-weight: var(--font-raleway-extrabold);
    font-size: 20px;
    color: var(--black-color);
    margin-bottom: 19px;
    letter-spacing: 5.96px;
}

.boxInfo {
    width: 120px;
    text-align: center;
    font-family: var(--font-family-raleway);
    font-weight: var(--font-raleway-regular);
    font-size: 17px;
    color: var(--grey-color);
}

.box:nth-child(2) {
    margin: 0 205px;
}

/* ------------------------------ */
/* Sekcja benefity */



